<meta charset="utf-8">
<meta name="google-site-verification" content="hadEEHEIxU4SHI1dAeGjZIOxXEztog8lwO3UAH-jgoQ" />
<meta name="facebook-domain-verification" content="4fhpl0zpk59ip97vdhwbzkljb6jrch" />

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- https://t.co/dKP3o1e -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">

<link rel="apple-touch-icon" sizes="57x57" href="{{site.baseurl}}/assets/images/logo/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl}}/assets/images/logo/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{site.baseurl}}/assets/images/logo/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}/assets/images/logo/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl}}/assets/images/logo/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{site.baseurl}}/assets/images/logo/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{site.baseurl}}/assets/images/logo/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}/assets/images/logo/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/images/logo/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{site.baseurl}}/assets/images/logo/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/images/logo/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{site.baseurl}}/assets/images/logo/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/images/logo/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{site.baseurl}}/assets/images/logo/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!--[if IE]>
  <style>
    /* old IE unsupported flexbox fixes */
    .greedy-nav .site-title {
      padding-right: 3em;
    }
    .greedy-nav button {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
    }
  </style>
<![endif]-->

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '306178497342208');
  fbq('track', 'PageView');
</script>
<script>
  function fbqSearchKeyword() {
    var uri = document.referrer;
    if (!uri) return;
    var link = document.createElement('a');
    link.setAttribute('href', uri);
    var pattern = new RegExp('[\\?&](?:utm_term|n_keyword|q|query)=([^&#]*)');
    var query = link.search.match(pattern);
    if (query && query.length > 0) {
      var keyword = query[1].replace(/\+/gi, "%20");
    }
    if (keyword) {
      fbq('trackCustom', 'SearchKeyword', {
        hostname: link.hostname,
        search_string: decodeURIComponent(keyword),
      });
  } 
  }	
  fbqSearchKeyword();
  </script>
  
<noscript>
  <img height="1" width="1" style="display:none" 
       src="https://www.facebook.com/tr?id=306178497342208&ev=PageView&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<!-- Google Tag Manager -->
<!-- <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-T34TBLD');</script> -->
  <!-- End Google Tag Manager -->

  